<!doctype html>
<title>{% block title %}MegaZoomQuilt{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<class="content">
  <header>
    {% block header %}{% include 'header.html' %}{% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v7.0.0/legacy/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v7.0.0/legacy/ol.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@3.5.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.5.0/src/ol-layerswitcher.css" />
  </header>
  {% block nav %}
    <nav> 
      <a href={{ url_for('home') }}>Home</a>&nbsp; - &nbsp; 
      <a href={{ url_for('admin') }}>Admin</a></li>
    </nav>
  {% endblock %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
      <div id="map" class="map"></div>
      <div id="mouse-position"></div>
           <script type="text/javascript">
        var mousePositionControl = new ol.control.MousePosition({
            className: 'custom-mouse-position',
            target: document.getElementById('mouse-position'),
            undefinedHTML: '&nbsp;'
        });
        var map = new ol.Map({
            controls: ol.control.defaults.defaults().extend([mousePositionControl]),
            target: 'map',

            layers: [
                            ],
            view: new ol.View({
            })
        });
    </script>
  {% endblock %}
  <footer>
    {% block footer %}{% include 'footer.html' %}{% endblock %}
  </footer>
</section>

