<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}MegaZoomQuilt{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="content">
    <header>
      {% block header %}{% include 'header.html' %}{% endblock %}
    </header>

    {% block nav %}
      <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('admin')}}">Admin</a></li>
        </ul>
      </nav>
    {% endblock %}

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
      <!-- Main content goes here -->
    {% endblock %}

    <footer>
      {% block footer %}{% include 'footer.html' %}{% endblock %}
    </footer>
  </div>
</body>
</html>

